body {
  height: 100%;
  margin: 0;
  padding: 1em;
  background-color: #171a1e;
}

img {
    padding-bottom: 50px;
    max-width: 100%;
}

.container {
   text-align:center;
} 

button {
     display:inline-block;
}
