{% extends 'bootstrap/base.html' %}


{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
    </head>
    <body style ="background-color: #171a1e;">

        <div class="container">
            <div class="row">
                <div class="col-xs-11 col-sm-11 col-lg-11 center-block">
                    <span class="form-horizontal">

                        <div class="form-group">
                            <div class="col-xs-4">
                                <form action="/" method="POST">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        REFRESH
                                    </button>
                                </form>
                            </div>

                            <div class="col-xs-4">
                                <a type="button" class="btn btn-primary btn-lg btn-block" href="/profile">
                                    SETTINGS
                                </a>
                            </div>

                            <div class="col-xs-4">
                                <a type="button" class="btn btn-primary btn-lg btn-block" href="/user/sign-out">
                                    LOGOUT
                                </a>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="container" width="80%" align="center">
            {% for meme in memes %}

                <img src="{{ meme["src"] }}"></img>

            {% endfor %}
        </div>
        <div class="container" width="80%" align="center">
            <a type="button" class="btn btn-primary btn-lg btn-block" href="/" width="80%" align="center">
                MOAR
            </a>
        </div>
    </body>

{% endblock %}
