{% extends 'bootstrap/base.html' %}


{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
    </head>
    <body style ="background-color: #171a1e;">

    <span class="form-horizontal">
        <div class="form-group">

            <div class="col-xs-6 col-sm-6 col-lg-6">
                <form action="/" method="POST">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        GO TO TOP
                    </button>
                </form>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-6">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/profile">
                    SETTINGS
                </a>
            </div>

        </div>
    </span>

    <center>
        <div class="col-xs-12 col-sm-12 col-lg-12 align-items-center">
            {% for meme in memes %}

                <img class="img-responsive" src="{{ meme["src"] }}"></img><br>

            {% endfor %}
        </div>
    </center>

    <div class="col-xs-12 col-sm-12 col-lg-12 center-block">
        <a type="button" class="btn btn-primary btn-lg btn-block" href="/" >
            MOAR
        </a>
    </div>

    </body>

{% endblock %}
