{% extends 'bootstrap/base.html' %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}"/>
</head>

<h2>
    <center>
        Pages:
    </center>
</h2>

<br>

<form action="/profile" method="POST">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-md-offset-5 col-lg-offset-5 col-sm-offset-0 col-xs-offset-0">

        {% for page in all_pages %}
            <label class="customcheck">{{ page }}
                <input type="checkbox"
                   value={{ page }}
                   id={{ page }}
                   name={{ page }}
                   {% if page in pages%}checked{% endif %}>
                <span class="checkmark"></span>
            </label>
        {% endfor %}
    </div>


    <div class="col-xs-6 col-sm-6 col-lg-2 col-md-2 col-md-offset-5 col-lg-offset-5 col-sm-offset-3 col-xs-offset-3"> 
        <br><br>
        <button type="submit" class="btn btn-primary btn-block">
            <h3>
                Save
            </h3>
        </button>
</form>

{% endblock %}
